@font-face {
  font-family: "Sora";
  src: url("/fonts/Sora/Sora-VariableFont_wght.ttf");
}

html, body {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#app {
  background-color: #00509d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#buttonDipendente, #buttonImprenditore {
  height: 45vh;
  width: 90%;
  overflow-y: hidden;
  overflow-x: hidden;
  border: 1px solid #FFFFFF;
  font-family: "Sora";
  color: white;
  font-size: 2em;
  list-style: none;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
}

#buttonDipendente input, #buttonDipendente select, #buttonImprenditore input, #buttonImprenditore select {
  width: 80%;
  height: 5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #FFFFFF;
  background-color: #00509d;
  color: #FFFFFF;
  margin-top: 0.8em;
}

#buttonDipendente input::-webkit-input-placeholder, #buttonDipendente select::-webkit-input-placeholder, #buttonImprenditore input::-webkit-input-placeholder, #buttonImprenditore select::-webkit-input-placeholder {
  color: #FFFFFF;
}

#buttonDipendente input:-ms-input-placeholder, #buttonDipendente select:-ms-input-placeholder, #buttonImprenditore input:-ms-input-placeholder, #buttonImprenditore select:-ms-input-placeholder {
  color: #FFFFFF;
}

#buttonDipendente input::-ms-input-placeholder, #buttonDipendente select::-ms-input-placeholder, #buttonImprenditore input::-ms-input-placeholder, #buttonImprenditore select::-ms-input-placeholder {
  color: #FFFFFF;
}

#buttonDipendente input::placeholder, #buttonDipendente select::placeholder, #buttonImprenditore input::placeholder, #buttonImprenditore select::placeholder {
  color: #FFFFFF;
}

#buttonDipendente .invalid-feedback, #buttonImprenditore .invalid-feedback {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

#buttonDipendente .is-invalid, #buttonImprenditore .is-invalid {
  border: 1px solid #ff0000;
}

#buttonDipendente .title, #buttonImprenditore .title {
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
  padding: 0.2em;
}

#buttonDipendente ul, #buttonImprenditore ul {
  padding: 0;
  max-height: 50%;
}

#buttonDipendente ul li, #buttonImprenditore ul li {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#buttonDipendente ul li a, #buttonImprenditore ul li a {
  color: white;
  text-decoration: none;
}

.buttonSubmit {
  height: 2em;
  border: 1px solid #FFFFFF;
  color: #000000;
  background-color: #FFFFFF;
  margin-top: 0.8em;
}

.buttonSubmit:hover {
  background-color: #fdc500;
}

#buttonImprenditore {
  background-color: #003f88;
}

#buttonDipendente {
  background-color: #fdc500;
  opacity: 0.9;
  color: #000000;
}

#buttonDipendente .title {
  border-color: #000000 !important;
}

#navbar a {
  color: #fdc500;
}

.add_shops {
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
}

.add_shops:hover {
  background-color: #FFFFFF;
  color: #000000;
}

@media (max-width: 770.98px) and (max-height: 900px) {
  .fixed-top {
    top: 46.2%;
  }
}

@media (max-width: 575.98px) {
  #buttonDipendente, #buttonImprenditore {
    height: 40vh;
  }
  #buttonDipendente input, #buttonDipendente select, #buttonImprenditore input, #buttonImprenditore select {
    height: 75%;
  }
  #buttonDipendente ul li, #buttonImprenditore ul li {
    max-height: 6vh;
  }
  #buttonDipendente .buttonSubmit, #buttonImprenditore .buttonSubmit {
    font-size: 0.7em;
  }
}

@media (min-width: 800.98px) {
  #buttonDipendente, #buttonImprenditore {
    height: 55vh;
  }
}
/*# sourceMappingURL=dashboard.css.map */