$blue : #00509d;
$blu_dark : #003f88;
$yellow_dark : #fdc500;
$yellow_light : #ffd500;
$white : #FFFFFF;
$black : #000000;
$font-title : "Sora";
$green : #38c172;


@font-face {
    font-family: "Sora";
    src: url("/fonts/Sora/Sora-VariableFont_wght.ttf");

}