@import './../setUpProject';
html , body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
#app{

    background-color: $blue;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#main_contabilità{
    height: 80%;
    width: 100%;
    background-color: $blu_dark;
    border: 3px solid $yellow_dark;
    position: relative;
}
.changeBGRow
{
    background-color: $yellow_light !important;
    color: black !important;
}
#contabilita_table{
    ::placeholder{
        color: $white ;
    }
    color : $white;
    thead{
        th { border-top : 0; }
    }
    tr, thead{
        display: table;
        width: 100%;
        table-layout: fixed;
        text-align: center;
    }
    tbody > tr
    {
        background-color: transparent;
        color: white;
        transition: background-color 1000ms linear;
    }
    td{
        word-break: break-all;
        text-align: center;
    }
    tbody{
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 60vh;
        
    }
}
.itemsExceptFirst{
    opacity: 0.6;
}
.row_submit{
    button , input{
        height: 8vh;
        background-color: $blue;
        color: #FFFFFF;
    }
    button{
        border: 1px solid $white;
        &:hover{
            background-color: $yellow_dark;
            color: $black;
        }
    }
    .col-4, .col-2 ,.col-6 {
        padding: 0.2rem;
    }
}
.color_placeholder_red{
    ::placeholder{
        color: #ff0000 !important;
    }
}
.color_placeholder_white
{
    ::placeholder{
        color: $white ;
    }
}
.width_100
{
    tbody
    {
        max-height: 70vh !important;
    }
}
.boxSelezionaDate{
    flex: 1;
    color: #FFFFFF;
    p {
        margin: 0;
    }
    input ,  select {
        height: 8vh;
        background-color: $blue;
        width: 80%;
        border: 1px solid $white;
        color: $white;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputsForDates{
    display: flex;
    flex-direction: row;
}
.changeMaxHeight{
 
        tbody{
            max-height: 50vh !important;
        }
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    #main_contabilità{
        
        tbody{
            max-height: 54vh;
        }
    }
    .changeMaxHeight{
            
            tbody{
                max-height: 51vh !important;
            
        }
    }
}
@media (max-width: 575.98px) { 
    #main_contabilità{
        height: 82%;
        padding: 0.4em;
    }
    .changeMaxHeight{
            
        tbody{
            max-height: 47vh !important;
        
    }
}
}