@import './../setUpProject';
.divIniziali{
    color: $white;
    cursor: pointer;
    letter-spacing: 0;    
    &:hover,
    &:active {
      letter-spacing: 10px;
    }
    
    &:after,
    &:before {
      backface-visibility: hidden;
      border: 1px solid rgba(#fff, 0);
      bottom: 0px;
      content: " ";
      display: block;
      margin: 2rem auto;
      position: relative;
      transition: all 280ms ease-in-out;
      width: 0;
    }
    
    &:hover:after,
    &:hover:before {
      backface-visibility: hidden;
      border-color: #fff;
      transition: width 350ms ease-in-out;
      width: 70%;
    }
    
    &:hover:before {
      bottom: auto;
      top: 0;
      width: 70%;
    }
}

.link_items_in_selling{
  color: $yellow_dark;
}
.space_ok{
  white-space: pre;
}
.new_package_registered
{
  background-color: $yellow_dark !important;
  color: $black !important;
}